body {
  background-image: url("../image/berk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#main-container {
  text-align: center;
  max-width: 70%;
}

#big-title {
  color: crimson;
  font-weight: bold;
  font-size: 6rem;
  margin-top: 2%;
  margin-bottom: 3%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

.link-list {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.link-list > ul {
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.list-item {
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-block;
}

.list-item > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.list-item > a:hover {
  transition: 0.5s;
  font-size: 2.3rem;
  transform: translateY(-5px);
  color: rgb(214, 0, 43);
}

#demoSearch label {
  float: left;
  font-weight: bold;
  font-size: 1.6rem;
  color: white;
}

select {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #3c4956;
  background-image: none;
  cursor: pointer;
}

.select {
  position: relative;
  display: flex;
  width: 6em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #3c4956;
  transition: 0.25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}

#edit-form-container {
  max-height: 50%;
  max-width: 50%;
  background-color: rgba(0, 0, 0, 0.87);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.editHeader {
  font-size: 28px;
  font-weight: bold;
  color: rgb(220, 20, 20);
}

input {
  text-align: center;
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 5px;
}

.bottom-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  background-color: #c45b3b; /* Green button color */
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #9e6111; /* Darker green on hover */
}

.result-message {
  margin-top: 20px;
  font-size: 24px;
}
